{% extends "Thoughts/base.html" %} {% block content %}

<div class="posts">
  {% for thought in thoughts %}

  <div class="card">
    <a
      style="cursor: default; text-decoration: none;"
      href="{% url 'view_thought' thought.id %}"
    >
      <div style="margin: 0 auto; text-align: center;">
        <!--h2>{{forloop.counter}}</h2-->

        <div class="thought">
          <b><h3 class="engrave">{{ thought.head }}</h3></b>
          <p style="font-family: 'Caveat', cursive; font-size: 17px;">
            {{ thought.thought }}
          </p>

          <div class="stamp">
            <p>Thought by : {{ thought.uname }}</p>
            <p style="font-size: 10px;">{{ thought.thought_on }}</p>
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
</div>

{%endblock%}
