<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>{{user.username}}</h2>
    <h3>{{user.email}}</h3>
    <h3>{{user.about}}</h3>
    <br />

    <form class="about_form" method="post" id="AboutForm">
        {% csrf_token %}
        {{ about_form.as_p }}
        <button type="submit" class="save btn btn-default">Update</button>
    </form>

    <br />
    {% for thought in thoughts %}
    <div>
        <a href="{% url 'view_thought' thought.id %}">
            <h2>{{thought.head}}</h2>
        </a>

        <p>{{thought.thought}}</p>
        <p>{{thought.uname}}</p>
        <p>{{thought.thought_on}}</p>
    </div>
    {% endfor %}
</body>